<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.test.dao.PersonDao">
	<sql id="person_c_columns">
		id, name, age
	</sql>
	<select id="query"  resultType="com.learn.test.domain.po.PersonDO">
		select <include refid="person_c_columns"/>
		from t_person p
	</select>
	<select id="queryById" parameterType="map" resultType="com.learn.test.domain.po.PersonDO">
		select <include refid="person_c_columns"/>
		from t_person p
		where id = #{id}
	</select>
	<select id="queryByDynamicId" parameterType="map" resultType="com.learn.test.domain.po.PersonDO">
		select <include refid="person_c_columns"/>
		from t_person p
		<where>
			<if test="id != null">
				id = #{id} and 1=1
			</if>
		</where>
	</select>
</mapper>